{% block content %}

            <div class="mdl-cell mdl-cell--4-col"></div>
              <div class="contact-card mdl-card mdl-shadow--2dp">
                <div class="contact-card mdl-card__title">
                  {{ provider.provider_name }}({{ provider.provider_dormitory }})
                </div>
                <div class="mdl-card__supporting-text">
                  Od 20:00 do 2:00
                  <br>
                  TEL: {{ provider.provider_phone_number }}
                </div>

              </div>


{% endblock %}